.about{
    h3{ 
        color: #616161;
        font-size: 40px;
    }
}

.contact{
    background: #FFFFFF ;

    .p-icon{
        color: #006064;
        font-size: 60px;
    }

    h3{
        color: #616161;
        font-size: 40px;
    }

    .p-info{
        color: #616161;
        margin-top: -60px;
        font-size: 22px;
    }

    .section{
        margin-top: -70px;
        padding: 10px 0px;
    }

    .footer-copyright{
        background: #006064;
    }
}

.main{
    h1{
        color: #FFFFFF;
    }
    h2{
        color: #e0e0e0;
        font-size: 24px;
    }
    .section{
        margin-top: 70px;
    }
}

.sentence{
    h3{
        color: #757575;
        font-size: 26px;
    }
    .section{
        margin-top: 170px;
    }
}

.main-project{
    height: 200px;
    background: url("../images/i5.jpg");
    background-size: cover;
    padding: 40px;

    h2{
        color: #F5F5F5;
    }
}

.filters{
    padding: 40px;
}

.projects{
    margin-top: -30px;
}

.icon{
    margin-right: 5px;
}