@font-face {
    font-family: "HelveticaNeue";
    src: url("../../fonts/helvetica-neue.woff") format('woff');
}


body{
    color: #616161;
}

.Navbar{

    font-family: 'Lato', sans-serif;

    nav ul a{
        font-size: 17px;

        &:hover{
            color: #b2ebf2;
        }
    }
    
    .brand-logo{
        font-family: "HelveticaNeue";
        font-size: 20px;
        letter-spacing: 5px;
    }

    .side-nav{
        background-color: #0a2e3d;
        color: #FFFFFF;

        h3{
            font-family: "HelveticaNeue";
            font-size: 20px;
            letter-spacing: 5px;
        }
        
        li a{
            color: #FFFFFF;
            text-align: center;
        }
    }
}

.Presentation{

    h1{ 
        font-family: "HelveticaNeue" !important;
        color: #FFFFFF;
        
    }

    .firstname{
        font-size: 40px;
        display: block;
        margin-bottom: 10px;
        letter-spacing: 10px; 
    }

    .lastname{
        font-size: 80px;
        display: block; 
        margin-bottom: 10px; 
        letter-spacing: 20px;
    }

    .profession1{
        font-size: 20px;
        display: block;
        letter-spacing: 10px;
    }

    .section{
        margin-top: 30px;
    }

    .social-icons{
        font-size: 35px;
        margin-top: -20px;
        
        a{
            color: #0a2e3d;
            margin-right: 2px;
        }

    }
}

.Profile{
    h3{ 
        color: #616161;
        font-size: 40px;
    }

    p{
        font-size: 21px !important;
        font-family: 'Lato', sans-serif;
        color: #524e4d;
    }
}

.Services{
    
        height: 100%;
        padding: 70px 0px;
    
    
        i{
            background-color: #0a2e3d;
            color: #FFFFFF;
            font-size: 60px;
            padding: 50px;
            border-radius: 50%;
        }
    
        p{
            font-size: 16px;
            font-family: "Lato";
            color: #eeeeee;
        }
    
        h2{
            color: #FFFFFF;
            font-family: "Lato";
            font-size: 50px;
        }
    
        h5{
            color: #FFFFFF;
            font-weight: 300;
        }
           
}

.Projects{
    
    h2{ 
        margin-top: 80px;
        color: #0a2e3d;
        font-family: "Lato";
        font-size: 50px;
        text-align: center;
        margin-bottom: 40px;
    }

    .card-title{
        color: #0a2e3d;
    }

    p{
        font-family: "Lato";
        color: #524e4d !important;
    }

    .btn{
        background-color: #2D818E;
        font-family: "Lato";
        margin-top: 20px;
    }
}

.Sentence{
    h3{
        color: #FFFFFF;
        font-family: 'Lato', sans-serif;
        font-size: 28px;
    }
    .section{
        margin-top: 170px;
    }
}

.Contact{
    background: #FFFFFF ;

    .p-icon{
        color: #2D818E;
        font-size: 60px;
    }

    h2{
        color: #0a2e3d;
        color: #0a2e3d;
        font-family: "Lato";
        font-size: 50px;
    }

    .p-info{
        color: #616161;
        font-family: 'Lato', sans-serif;
        margin-top: -60px;
        font-size: 22px;
    }

    .section{
        margin-top: -70px;
        padding: 10px 0px;
    }

    .footer-copyright{
        background: #0a2e3d;
        font-family: 'Lato', sans-serif;
    }
}


